[Unit]
Description=Procfs test
[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStart=/sbin/insmod /home/ye/procfs_test/procfs_test.ko
ExecStart=/bin/bash /home/ye/procfs_test/1.sh
ExecReload=/bin/bash /home/ye/procfs_test/restart.sh
ExecStop=/sbin/rmmod procfs_test
[Install]
WantedBy=multi-user.target
